/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoxs {
    height: 20px;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.hebergements-and-populaires .option a {
    margin-top: 10%;
    font-weight: bold;
}

.boutton1 {
    border-radius: 0px 10px 10px 0px;
    border-color: #0065fc;
    background-color: #0065fc;
    cursor: pointer;
}

#infologement {
    border: 1px solid #e1e1e1;
    padding: 8px 12px;
    border-radius: 50%;
    margin-right: 12px;
}

#infoplus {
    margin-inline-start: 15px;
}

/****** 1ere Section  ***********/

.entrer p {
    margin-top: -14px;
    margin-bottom: 30px;
}

.entrer h1 {
    font-size: 22px;
}

.section p {
    margin-top: 0;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

section form i {
    background-color: #f2f2f2;
    border-radius: 8px 0px 0px 8px;
    padding: 3px;
}

.plus {
    display: block;
    font-weight: bold;
    padding: 20px;
    padding-block-start: 2em;
}

/****** formulaires ***********/

.formul {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

#country {
    height: 49px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.boutton1 {
    border: none;
    height: 49px;
    font-weight: bold;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
}

#boutton1mobile {
    display: none;
}

input::placeholder {
    font-weight: bold;
    color: black;
    text-align: center;
}

#alpha {
    color: black;
    width: 80px;
    height: 48px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px;
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
}

/****** Filtres ***********/

section ul li {
    display: inline;
}

.titreorange {
    display: flex;
    /* Permet de placer les enfants en ligne */
    align-items: center;
    /* Aligne verticalement les éléments */
    gap: 15px;
}

.titreorange h2 {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.orange {
    font-weight: bold;
    list-style: none;
    /* Supprime les puces */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.orange li {
    border: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: #D9D9D9;
    padding: 4px 19px 4px 19px;
    cursor: pointer;
    gap: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}

.orange li:hover {
    background-color: #deebff;
}

section span .info {
    display: inline;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-cards a {
    flex: 1 0 27%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: border-box;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card {
    margin-top: 33px;
}

.hebergements-cards .card-txt {
    padding-left: 15px;
}

.hebergements-cards .card-rating {
    padding-left: 15px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.pomme {
    margin-top: 60px;
    margin-inline-start: 50px;
    font-size: 22px;
}

.activites {
    justify-content: center;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.activites a {
    flex: 1 0 22%;
}

.activites-cards img {
    object-fit: cover;
    width: 100%;
    height: 439px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites p {
    font-weight: bold;
    margin: 5px;
    padding: 20px;
}

.activites-cards {
    flex: 1 0 20px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites h3 {
    padding-bottom: 20px;
    font-size: 16px;
    padding-left: 15px;
}

/****** Menu ***********/

.menu li {
    list-style-type: none;
}

.menu ul {
    display: flex;
    gap: 68px;
}

.menu a:hover {
    border-top: 3px solid blue;
    padding-top: 22px;
    text-decoration-color: blue;
    color: blue;
}

/***********************/

.footer section {
    list-style-type: none;
    display: inline;
    margin-left: 72px;
}

.box {
    display: flex;
    background-color: var(--main-bg-color);
    margin-top: 50px;
    padding: 40px;
}

.box article {
    flex: 1;
}

.box ul {
    padding: 0;
}

.box li {
    list-style-type: none;
    line-height: 32px;
}

.box a:hover {
    text-decoration: underline;
}

footer h2 {
    font-size: 18px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activites h3 {
        margin-top: 10px;
    }

    .activites-cards {
        height: 255px;
    }

    .titreorange {
        display: block; /* Désactive le flexbox en mode mobile */
    }

    .titreorange h2 {
        text-align: left;
    }

    .box {
        display: flex;
        padding: 30px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    header, footer, main {
        width: 100%;
        /* Assure une largeur de 100% */
    }

    header {
        flex-direction: column;
        border-bottom: 1px solid #D9D9D9;
    }

    .logoxs {
        font-size: 19px;
        padding: 30px;
    }

    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .pomme {
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .menu {
        margin-left: -40px;
    }

    .menu ul a {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }

    .menu ul a:hover {
        border-top: none;
        border-bottom: 3px solid blue;
        padding-bottom: 15px;
        margin: 0;
    }

    #country {
        height: 50px;
        border: none;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        width: 100%;
    }

    .boutton1 {
        justify-content: center;
        padding: 10px;
        border: none;
        height: 49px;
        font-weight: bold;
        color: white;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 15px 16px 15px 16px;
        gap: 10px;
    }

    /******** Masquer le texte "Rechercher" ********/

    .boutton1::before {
        content: "";
        /* Supprime le texte avant le bouton */
    }

    .boutton1 {
        font-size: 0;
        /* Masque le texte */
    }

    /*********** Afficher uniquement la loupe ********/

    #boutton1mobile {
        font-size: 17px;
        /* Ajuste la taille de la loupe */
        display: inline-block;
        /* Assure que l'icône s'affiche */
        border: none;
        border-color: #0065FC;
        font-weight: bold;
        color: white;
        background-color: #0065FC;
        border-top-left-radius: 10px;
    }

    .orange {
        font-weight: bold;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding-bottom: 10px;
    }

    .orange li {
        border: solid;
        border-radius: 25px;
        border-width: 2px;
        border-color: #D9D9D9;
        cursor: pointer;
        height: 90%;
        display: flex;
        align-items: center;
        margin: 0px 0px 25px 0px;
        width: 95%;
        padding: 0px 0px 0px 10px;
        font-size: 14px;
    }

    .entrer h1 {
        margin-top: 35px;
        font-size: 22px;
    }

    .entrer p {
        margin-bottom: 30px;
    }

    section p {
        display: flex;
        margin: 10px 0px 10px 0px
    }

    .section-title {
        font-size: 22px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 100px;
    }

    .hebergements {
        order: 2;
    }

    .populaires {
        order: 1;
        padding: 30px 20px 30px 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .populaires-cards .card {
        display: flex;
        width: 100%;
        margin: 10px
    }

    .hebergements-cards {
        display: grid;
    }

    .hebergements-cards .card img {
        object-fit: cover;
        height: 124px;
        width: 100%;
        border-top-left-radius: 20px;
    }

    .hebergements-cards .card-title {
        margin: 10px 0px 0px 0px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .hebergements-and-populaires .populaires {
        padding-left: 0px;
        margin-top: 15px;
    }

    .hebergements-and-populaires .hebergements {
        padding: 35px 18px 0px 0px;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 0px;
        padding: 30px;
        box-sizing: border-box;
    }

    .hebergements-cards .card {
        margin-bottom: -20px;
        margin-top: 10px;
        width: 105%;
        padding-bottom: 15px;
    }

    .hebergements .section-title h2 {
        margin-left: 12px;
    }

    .plus {
        display: block;
        font-weight: bold;
        padding: 20px;
        padding-top: 40px;
        padding-left: 0;
    }

    .activites {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .box {
        display: flex;
        padding: 30px;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}